#author {
    font-family: 'Comforter', cursive;
    font-family: 'Dancing Script', cursive;
}

#text {
    font-family: 'Comforter', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans', sans-serif;
}